:root{
    --theme-black-border-color:#000;
    --theme-white-background-color:#fff;
    --theme-black-text-color:#030f21;
    --theme-light-text-color:#7c8593;
    --theme-white-text-color:#fff;
    --theme-border-color:#e7e7e7;
    --theme-primary-color:#2150f5;
    --theme-transprant-color:transprant;
    --theme-blur-color:rgba(0, 0, 0, .4);
    --theme-light-background-color:#f9f9fa;
    --theme-card-border-color:#efefef;
    --theme-strategy-color:#f3f6fa;
    --theme-haircut-color:#ececec;
    --themr-footer-background-color:#222524;
    --theme-footer-text-color:#b9b9b9;
    --theme-footer-background-color-2:#101211;
}

